# Ignore everything
/*

# But not these files...
!Predictions.py
!cars_notebook.py
!banglore_home_prices_final.py
!df.pkl
!pipe.pkl
!locations.csv
!quikr_car.csv
!bengaluru_house_prices.csv
!requirements.txt
!README.md
!LICENSE
!.gitignore
!.streamlit/
!.streamlit/config.toml 